<!-- eslint-disable vue/no-multiple-template-root -->
<template>
  <div>
    <div class="header">
      <nav>
        <NuxtLink to="/">Home</NuxtLink>
        <NuxtLink to="/notes">Notes</NuxtLink>
      </nav>
    </div>
    <div class="max-w-3xl m-auto">
      <slot />
    </div>
  </div>
</template>

<script setup lang="ts"></script>

<style scoped>
nav {
  text-align: center;
  font-size: 1rem;
  padding: 1rem 0;
  margin-top: 1rem;
}
nav a {
  display: inline-block;
  padding: 0 1rem;
  border-left: 1px solid var(--color-border);
}

nav a:first-of-type {
  border: 0;
}
</style>
