<template>
  <!-- <NuxtLayout name="custom"> -->
  <h1 class="text-5xl text-center pb-10">Notes</h1>
  <!-- <AddNote /> -->
  <div class="flex flex-col gap-3">
    <div v-for="note in noteStore.notes" :key="note.title">
      <NoteCard :note="note" />
    </div>
  </div>
  <!-- </NuxtLayout> -->
</template>

<script setup lang="ts">
import { useNoteStore } from "../stores/note";
import NoteCard from "../components/NoteCard.vue";
// import AddNote from "@/components/AddNote.vue";
const noteStore = useNoteStore();
definePageMeta({
  layout: false,
});
</script>

<style scoped>
.cards-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
</style>
